body{
  background-color: #cccccc;
}

footer{
  background-color: #243484;
  text-align: center;
}

#top-content{
  background: url("../image/home-bg.jpg") no-repeat center center;
  background-size: cover;
}

#bottom-content{
  background: url("../image/price-bg.jpg") no-repeat center center;
  background-size: cover;
}

#about-content{
  background: url("../image/about-bg.jpg") no-repeat center center;
  background-size: cover;
}

.btn-blue, .bg-blue{
  background-color: #243484;
}

.navbar-brand {
  background: url("../image/logo-white.png") no-repeat left center;
  background-size: contain;
  height: 35px;
  width: 40%;
}


/* 吹き出し用 */
.balloon {
 	position: relative;
	display: inline-block;
 	margin: 1.5em 0 1.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: #FFF;
 	border: solid 3px #555;
 	box-sizing: border-box;
}

.balloon:before{
	content: "";
	position: absolute;
	top: 50%;
	left: -24px;
 	margin-top: -12px;
	border: 12px solid transparent;
	border-right: 12px solid #FFF;
 	z-index: 2;
}

.balloon:after{
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
 	margin-top: -14px;
	border: 14px solid transparent;
	border-right: 14px solid #555;
 	z-index: 1;
}

.balloon p {
	margin: 0;
	padding: 0;
}
