body{
  background-color: #eeeeee;
}

footer{
  background-color: #243484;
  text-align: center;
}

#top-content{
  background: url("../image/home-bg.jpg") no-repeat center center;
  background-size: cover;
}

#bottom-content{
  background: url("../image/price-bg.jpg") no-repeat center center;
  background-size: cover;
}

#about-content{
  background: url("../image/about-bg.jpg") no-repeat center center;
  background-size: cover;
}

.btn-blue, .bg-blue{
  background-color: #243484;
}

.bg-gray{
  background-color: #eeeeee;
}

.text-red{
  color: red;
}

.navbar-brand {
  background: url("../image/logo-blue.png") no-repeat left center;
  background-size: contain;
  height: 35px;
  width: 40%;
}

.first{
  margin-top: 53px;
}


/* 吹き出し用 */
.balloon {
 	position: relative;
	display: inline-block;
 	margin: 1.5em 0 1.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: #FFF;
 	border: solid 3px #555;
 	box-sizing: border-box;
}

.balloon:before{
	content: "";
	position: absolute;
	top: 50%;
	left: -24px;
 	margin-top: -12px;
	border: 12px solid transparent;
	border-right: 12px solid #FFF;
 	z-index: 2;
}

.balloon:after{
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
 	margin-top: -14px;
	border: 14px solid transparent;
	border-right: 14px solid #555;
 	z-index: 1;
}

.balloon p {
	margin: 0;
	padding: 0;
}


/* メニュー用 */
#menu__btn{
  color: blue;
  font-size: 100%;
}

.menu-btn span:after {
  content: attr(data-txt-menu);
}

.open .menu-btn span:after {
  content: attr(data-txt-close);
}

/* もうちょっとmenu真ん中にする */
.menu {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.menu ul {
    display: table-cell;
    vertical-align: middle;
    list-style:none;
}

.menu li {
    width: 300px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    text-align: center;
}

.menu li a {
    display: block;
    font-size: 200%;
    color: #000;
}

.menu li a:hover {
    color: #999;
}

/* 開閉用ボタンがクリックされた時のスタイル */
.open .menu {
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: visible;
    opacity: 1;
}
